@using UdemyMVCCVsitesi.Models.Entitiy
@model List<tbl_iletisim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <div class="timeline timeline-inverse">
                                    @foreach (var x in Model)
                                    {
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="bg-info">
                                                @(((DateTime)x.Tarih).ToString("dd-MMM-yyyy"))
                                            </span>
                                        </div>
                                        <div>
                                            <i class="fas fa-envelope bg-primary"></i>
                                        </div>
                                        <div>
                                            <i class="fas fa-comments bg-warning"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> <a href="mailto:name@email.com"> @x.Mail</a></span>
                                                <h3 class="timeline-header">@x.AdSoyad   <h2>@x.Konu</h2></h3>
                                               
                                                <div class="timeline-body">
                                                    @x.Mesaj
                                                </div>
                                                <div class="timeline-footer">
                                                    <a href="/Iletisim/IletisimSil/@x.ID" class="btn btn-danger btn-sm">Sil</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</body>
</html>